@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nunito:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
  }

  .font-chalk {
    font-family: 'Caveat', cursive;
    font-weight: 700;
  }
}
