@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide default scrollbar everywhere */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
